<!DOCTYPE html>
<html lang="uk">

<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Категорії</h1>
        {% if categories %}
        <div class="row">
            {% for item in categories %}
                <div class="col-md-2 mb-3">
                    <div class="card bg-dark text-white">
                        <div class="card-body text-center">
                            <a href="{{ item.get_absolute_url }}" class="text-white">
                                <h5 class="card-title mb-0" style="white-space:nowrap;">{{ item.category }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    

        <h2 class="mt-5 mb-4">Публікації</h2>
        {% if articles %}
            <div class="row">
                {% for item in articles %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <a href="{{ item.get_absolute_url }}">
                                    <h4 class="card-title">{{ item.title }}</h4>
                                </a>
                                <h5 class="card-subtitle mb-2 text-muted">
                                    {{ item.pub_date|date:"j E Y"|safe|linebreaks }}
                                </h5>
                                <p class="card-text">
                                    {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="{% url 'articles-list' %}">
                Всі публікації
            </a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
